@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=VT323&display=swap");

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323", monospace;
}

.channel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.channelNum {
  margin-bottom: 20px;
}

.noteContainer {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.noteLabel {
  position: absolute;
  left: 130px;
  font-size: 16px;
  z-index: 9;
}

.grid {
  display: flex;
  border: 1px solid rgb(19, 18, 18);
  overflow-x: auto;
  z-index: 8;
}

.step {
  width: 30px;
  height: 20px;
  border: 1px solid rgb(13, 13, 13);
  opacity: 22%;
  cursor: pointer;
}

.activeStep {
  background-color: rgb(226, 62, 62);
  opacity: 100%;
}

.title {
  margin-bottom: 40px;
}

.currentStep {
  background-color: rgb(49, 248, 255);
  opacity: 70%;
  z-index: 12;
}
